*iPad-29pt.png
*iPad-29pt@2x.png
*iPhone-29pt@2x.png
*iPhone-29pt@3x.png
*iPad-40pt.png
*iPad-40pt@2x.png
*iPhone-40pt@2x.png
*iPhone-40pt@3x.png
*iPad-76pt.png
*iPad-76pt@2x.png
*iPhone-60pt@2x.png
*iPhone-60pt@3x.png
